.board-container {
    background-color: #96a5c2;
}
.box {
    width: 33px;
    height: 33px;
    border: solid black 1px;
}

.box:hover {
    background-color: #ccd8ee;
}

.row {
    display: flex;
}