.board-container {
    background-color: #96a5c2;
}
.box {
    width: 25px;
    height: 25px;
    border: solid black 1px;
}

.box:hover {
    background-color: #ccd8ee;
}

.row {
    display: flex;
}